@import '../../globalStyles.module.scss';

.container {
  border-radius: $radiusSmall;
  overflow: hidden;
  box-shadow: 0 5px 3px $shadow;
  cursor: pointer;
  transition: $transition;
  position: relative;
  top: 0;

  &:hover {
    top: -6px;
    box-shadow: 0 8px 9px $shadow;
  }

  h3 {
    padding: 18px;
  }
}

.imgWrapper {
  height: 162px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: inline-block;
    width: 100px;
    height: 100px;
  }
}